/* .layout-wrapper {
    height: 100%;
    display: flex;
} */

.layout-nav::-webkit-scrollbar {
    width: 6px;
    background-color: #54B689;
}

.layout-nav::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.layout-wrapper .layout-content {
    margin-left: 280px;
    background: #fff;
}

.section-title {
    font-size: 2rem;
    position: relative;
    padding-left: 1.5rem;
    text-align: left;
}

.section-title:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #54B689;
    position: absolute;
    left: 0;
    top: 0;
}

.section-intro {
    text-align: left;
}

.project-card {
    border-radius: 0;
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.025);
    position: relative;

}

.project-card .card-title a {
    font-size: 1.125rem;
    color: #292929;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 767px) {

    .layout-wrapper .layout-content {
        margin-left: 0;
    }
}